.main_nav {
  background-color: tan;

  padding-top: 20px;
  grid-area: navigation;
}
.nav_item {
  list-style: none;
  margin-bottom: 10px;
  font-size: 20px;
}
.nav_item a {
  text-decoration: none;
  color: white;
}
